@model IEnumerable<profiles_vac.Models.Profile>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Profiles.css" type="text/css" />

<h1>Profiles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Profiles" asp-action="Index" method="get">
    <p>
        Search: <input type="text" name="SearchString">
        <input class="btn btn-light" type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr class="text-center">

            <th>
                @Html.DisplayNameFor(model => model.ProfileImageURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (item.CurrentEmployee) { 
        <tr class="text-center align-center">
            <td>
                <img src=@item.ProfileImageURL class="img-thumbnail img-resize rounded" />
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.CurrentEmployee)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.PositionTitle)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.Id"> Edit </a>
                <br />
                <a class="btn btn-light" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <br />
                <a class="btn btn-light" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
